/.env

# The directory Mix will write compiled artifacts to.
/app/_build/

# If you run "mix test --cover", coverage assets end up here.
/app/cover/

# The directory Mix downloads your dependencies sources to.
/app/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/app/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/app/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/app/erl_crash.dump

